<h1>FrontPage#show</h1>
<p>Find me in app/views/front_page/show.html.erb</p>

<h2>Count</h2>
<p>
<%= @instagram.count %>
	
</p>
<% @instagram.each do |instagram| %>

<% if instagram.caption.text.include?('#brunch') %>

<%= image_tag instagram.images.standard_resolution.url %>
<h2>Params</h2>
<p><%= instagram.caption.text %></p>
<% end %>

<% end %>