<h1>FrontPage#show</h1>
<p>Find me in app/views/front_page/show.html.erb</p>
<h2><%= @response['title']['rendered']%></h2>
<div class="content"><%= @response['content']['rendered'].html_safe%></div>
<img src="<%= @image['source_url']%>" alt="">
