<h1>FrontPage#show</h1>
<p>Find me in app/views/front_page/show.html.erb</p>

<!-- SnapWidget -->
<iframe src="http://snapwidget.com/bd/?u=ZGVhcnRydWRlbmNlfGlufDIwMHwzfDN8fHllc3wyMHxub25lfG9uU3RhcnR8eWVzfG5v&ve=020516" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:666px; height:1041px"></iframe>