<div class="as--admin-index-title">
  <h1>All Generic Stories</h1>
  <%= link_to 'New Generic Story', new_admin_generic_story_path, class: 'button button--tertiary as--no-margin-bottom' %>

</div>

<table>
  <thead>
    <tr>
    <th>Selected</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_stories.each do |generic_story| %>
      <tr>
        <td><%= generic_story.selected ? 'yes' : 'no' %></td>
        <td><%= generic_story.title %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_generic_story_path(generic_story), class: 'button button--primary button--edit as--no-margin-bottom' %></td>
      </tr>
    <% end %>
  </tbody>
</table>



