<p>Welcome to the admin interface for the WWF site.</p>

<%= link_to edit_user_registration_path, class: 'button button--primary' do %>
<%= @header.update_profile_lang(current_user) %>
<% end %>







