<div class="form--contained">
	<h1>Editing <%= @featured_donor.title %></h1>

	<%= render 'form' %>
	<div class="wrapper--flex">
		<%= link_to 'Back', admin_featured_donors_path, class: 'button button--primary as--half' %>
		<%= link_to 'Delete', admin_featured_donor_path(@featured_donor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary button--delete as--half' %>
	</div>
</div>
