// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'generic'
.wp-blog > .about 
	:padding 40px 0
.wp-blog
	:padding-top 0
	.photo-by
		:position relative
		a 
			:position absolute
			:top 0
			:height 100%
			:width 100%
	.title 
		:margin-bottom 0px
	h3 
		:font-family 'WWF', sans-serif
		:font-size 30px
		:letter-spacing 0.47px
		:margin 0 0 12px 0
		:line-height 32px
		:font-weight normal
		:color $black
	h3 + p
		:margin 10px 0 22px 0	
	p 
		:line-height 24px
		:color $black
		:margin-bottom 12px
		.author, .date
			:font-size 12px
		.author
			:text-transform uppercase
		.seperator
			:vertical-align middle	
	p + a.button
		:margin-top 10px		
	.short-desc a 
		:color $black
		:border-bottom 1px solid $black
		:font-weight bold	
		:white-space pre-wrap
		:word-wrap break-word
	img, video
		:width 100%
	.col--two
		&:nth-of-type(2n + 2)
			:padding 0 20px	
			+display-for(xs)
				:padding 0
		&:nth-of-type(2n + 1)
			+display-for(sm xs)
				:height 200px 
				:overflow hidden
				:margin-bottom 22px	
	.wrapper--flex	
		:margin-bottom 40px
		&:nth-of-type(2)
			:flex-direction row-reverse
			.col--two
				&:nth-of-type(2n + 2)	
					:padding-left 0
					+display-for(sm)
						:padding-left 20px
					+display-for(xs)
						:padding 0	


