@font-face{
  font-family: 'WWF';
  src: url(font-path('wwf-webfont.eot'));
  src: url(font-path('wwf-webfont.eot')) format('embedded-opentype'), url(font-path('wwf-webfont.woff')) format('woff');
}

