@font-face{
  font-family: 'WWF';
  src: font_url('/assets/wwf-webfont.eot');
  src: font_url('/assets/wwf-webfont.eot') format('embedded-opentype'), font_url('/assets/wwf-webfont.woff') format('woff');
}

