html
	:box-sizing border-box
*, *:before, *:after
	:box-sizing inherit
body
	:margin 0	
	:letter-spacing 0.5px
//grid columns
$grid-base: 40

=make-column($columns, $grid: $grid-base)
	:box-sizing border-box
	:width percentage($columns / $grid)

=make-gutter($left-gutter: 0, $right-gutter: 0, $grid: $grid-base)
	:margin-left percentage($left-gutter / $grid)
	:margin-right percentage($right-gutter / $grid)

//adaptive screen sizes
%make-adaptive
  @media screen and (min-width: 1170px)
    // XL
    :width 1146px
    :margin
      :left 12px
      :right 12px
  @media screen and (min-width: 960px) and (max-width: 1169px)
    // LG
    :width 936px
    :margin
      :left 12px
      :right 12px
  @media screen and (min-width: 768px) and (max-width: 959px)
    // MD
    :width 744px
    :margin
      :left 12px
      :right 12px
  @media screen and (min-width: 500px) and (max-width: 767px)
    // SM
    :width 480px
    :margin
      :left 12px
      :right 12px
  @media screen and (max-width: 499px)
    // XS
    :width auto
    :margin-left 8px
    :margin-right 8px

