// Place all the styles related to the MainMenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'generic'

nav.main
	:background black
	img 
		:width 100px
		:position absolute
.menu--main
	// :padding 30px 0
	:margin-left 140px
	>li.item--main 	
		:position relative
		:padding 30px 0
		>a 
			:color white
			:text-transform uppercase
			:font-family 'WWF'
			:letter-spacing 0.86px
			&:after
				:content '▾'
				:font-size 12px
				:vertical-align top
				:padding 2px 5px
				:display inline-block
				&:hover 
					:color $pink
			&:hover
				:color $pink	
		>a.active	
			:color $pink
			&:after
				:color $pink	

.menu--sub
	:background white	
	:border-bottom 2px solid $pink	
	:border-top 2px solid $blue
	:position absolute
	:top 60px
	:padding 0 16px
	:min-width 220px
	:display none
	li 
		:border-bottom 1px solid $grey
		:display block
		:padding 8px 0
		:position relative
		&:last-of-type
			:border-bottom none
	a 
		:color black
		:text-transform capitalize
		:font-size 14px
	.menu--sub-desc
		:background $blue	
		:position absolute
		:top 0
		:left calc(100% + 30px)
		:color white
		:padding 10px
		:display none
		&:before
			:content '◀'
			:color $blue
			:left -13px
			:position absolute
			:top 50%
			:transform translateY(-50%)
		p 
			:margin 0
			:min-width 150px
			:font-size 12px

.item--main
	&:last-of-type
		.menu--sub-desc
			:right calc(100% + 30px)
			:left auto
			&:before
				:right -13px
				:left auto
				:transform rotate(180deg) translateY(50%)
.menu--sub.active, .menu--sub-desc.active
	:display block

	