// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stories
	&--flex
		:margin-bottom 36px
	h3 
		:font-family 'WWF'
		:letter-spacing 0.5px
		:font-size 28px
		:margin 0
		:margin-bottom 36px
	.featured-title 
		:font-size 60px
	.story-title
		:padding 20px
		:margin-bottom 75px
	p 
		:font-family 'Arial', sans-serif
		:letter-spacing 0.8px
		:margin-right 36px
		&:nth-of-type(1)
			:margin-top 0
	a.button
		&:hover
			:background black
			:border 1.5px solid white
			:color white
// .col--three-margin
// 	:width calc(33.33% - 18.666px)
.featured-story
	:background-color black
	:color white
	:padding 70px 105px
	:margin-bottom 28px
.story 
	:position relative
	:background-color black
	:color white
	:margin-bottom 28px
	&:nth-of-type(1n+3)
	a 
		:position absolute
		:right 20px 
		:bottom 20px
.story--photo
	:height 210px
	:background-size cover
	:background-position center bottom
