// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hashtag
	:background-color black
	:height 200px
	:padding-top 26px
	h2 
		:font-family 'WWF'
		:font-size 60px
		:color white
		:margin 0
		:margin-bottom 10px
	p 
		:font-size 30px
		:color white
		:margin 0
		a 
			:color white
			i 
				:margin-right 30px
.social-element
	:position relative
	:justify-content center
	&:nth-of-type(2n+5)
		:background-color $light-blue
	&:nth-of-type(8n+1)
		:background-color $blue
	&:nth-of-type(3)
		:background-color $medium-blue
	&:after
		:content ""
		:display block
		:padding-bottom 100%
	+display-for(xs)
		&:nth-of-type(1)
			:order 1
		&:nth-of-type(2)
			:order 2
		&:nth-of-type(3)
			:order 4
		&:nth-of-type(4)
			:order 3
		&:nth-of-type(5)
			:order 5
		&:nth-of-type(6)
			:order 6
		&:nth-of-type(7)
			:order 8
		&:nth-of-type(8)
			:order 7
		&:nth-of-type(9)
			:order 9
		&:nth-of-type(10)
			:order 10
.instagram
	:position absolute
	:height 100%
	:width 100%
	:background-size cover
	:background-position center
.tweet
	:position absolute
	:padding 0 28px
	:height 50%
	:overflow auto
	:margin auto
	:top 0 
	:left 0 
	:bottom 0 
	:right 0
	:color white
	:font-size 16px
	:font-family 'Georgia'
	:word-break break-all
	a 
		:color white
		:font-weight bold
	+display-for(sm)
		p
			:font-size 13px
	+display-for(xs)
		p
			:font-size 13px
.square
	:position relative
	// :width 20%
	:border 2px solid black
.square:after
	:content ""
	:display block
	:padding-bottom 100%