<h1>Editing Main Menu</h1>

<%= render 'form' %>

<%= link_to 'Destroy', admin_main_menu_path(@main_menu), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', admin_main_menus_path %>
