<div class="as--admin-index-title">
  <h1>All Main Menu Items</h1>
  <%= link_to 'New Main menu', new_admin_main_menu_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @main_menus.each do |main_menu| %>
      <tr>
        <td><%= main_menu.title %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_main_menu_path(main_menu), class: 'button button--primary button--edit as--no-margin-bottom' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


