<div class="form--contained">
	<h1>Editing <%= @blog.title%></h1>
	<%= render 'form' %>
	<div class="wrapper--flex">	
		<%= link_to 'Back', admin_blogs_path, class: 'button button--primary as--half' %>
		<%= link_to 'Delete', admin_blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary button--delete as--half' %>
	</div>
</div>
